@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Outfit:wght@200;300;400;500;700;800;900&family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none;
    box-sizing: border-box;

}

.custom_container {
    max-width: 1140px !important;
    margin-left: auto;
    margin-right: auto;
    padding-right: 12px;
    padding-left: 12px;
}

:root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-xmd: 18px;
    --fs-md: 20px;
    --fs-xlg: 24px;
    --fs-lg: 40px;
    --fs-xl: 54px;
    --text-ffffff: #ffffff;
    --text-lightblue: #111223;
    --text-lightblack: #1C1D1D;
    --text-darkblack: #111;
    --text-black: #000000;
    --text-blue: #2ABAE9;
}

.fs_xsm {
    font-size: var(--fs-xsm);
}

.fs_sm {
    font-size: var(--fs-sm);
}

.fs_xmd {
    font-size: var(--fs-xmd);
}

.fs_md {
    font-size: var(--fs-md);
}

.fs_xlg {
    font-size: var(--fs-xlg);
}

.fs_lg {
    font-size: var(--fs-xlg);
}

.fs_xl {
    font-size: var(--fs-xl);
}

.text_ffffff {
    color: var(--text-ffffff);
}

.text_lightblue {
    color: var(--text-lightbue);
}

.text_darkblack {
    color: var(--text-darkblack);
}

.text_lightblack {
    color: var(--text-lightblack);
}

.text_black {
    color: var(--text-black);
}

.text_blue {
    color: var(--text-blue);
}

.ff_outfit {
    font-family: "Outfit" !important;
}

.ff_Inter {
    font-family: 'Inter' !important;
}

.ff_Raleway {
    font-family: 'Raleway' !important;
}

.ff_opensans {
    font-family: 'Open Sans' !important;
}