* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none;
}

.cursor_pointer {
    cursor: pointer;
}

.hover_line {
    position: relative;
}

.hover_line::after {
    position: absolute;
    content: "";
    border-radius: 10px;
    background: linear-gradient(105deg, #2ABAE9 0%, #1B77CC 100%);
    width: 0%;
    height: 3px;
    bottom: -7px;
    right: 0;
    transition: all 0.3s linear;
}

.transition_3_linear {
    transition: all 0.3s linear;
}

.hover_line:hover::after {
    left: 0;
    width: 100%;
}

.hamburger {
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 15;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: black;
    z-index: 15;
    opacity: 0.7;
}

.hamburger-2 {
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 15;
}

.hamburger-2 .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-2 .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-2 .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.py_12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.nav_btn_color:hover {
    background: linear-gradient(105deg, #2ABAE9 0%, #1B77CC 100%);
    color: white;
}

.hero_btn {
    border-radius: 35px;
    width: 69.76px;
    height: 36px;
    padding-bottom: 2px;
    background: linear-gradient(105deg, #2ABAE9 0%, #1B77CC 100%);
}

.hero_btn:hover .translate_x {
    transform: translateX(5px);
}

.hero_linear {
    background: linear-gradient(180deg, rgba(44, 185, 233, 0.30) 0%, rgba(98, 104, 250, 0.30) 23.05%, rgba(255, 255, 255, 0.30) 71.54%, rgba(255, 255, 255, 0.30) 103.55%);
}

.text-linear {
    background: var(--Linear-two, linear-gradient(91deg, #994FFF 0.27%, #4AB6FE 98.57%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input {
    outline: none !important;
    font-family: "Inter";
    font-size: var(--fs-sm);
    font-weight: 400;
    color: rgba(0, 0, 0, 0.60);
}

.hero_input {
    max-width: 464px;
    border-radius: 100px;
    border: 1px solid var(--Linear-two, #994FFF);
    background: #FFF;
    height: 52px;
    padding-left: 22px;
}

.hero_max_pera {
    max-width: 367px;
}

.slider_input {
    max-width: 264px;
    border-radius: 100px;
    border: 1px solid var(--Linear-two, #994FFF);
    background: #FFF;
}

.slider_btn {
    border-radius: 35px;
    padding-bottom: 6px;
    width: 69.76px;
    height: 36px;
    background: linear-gradient(105deg, #2ABAE9 0%, #1B77CC 100%);
}

.update_pera {
    max-width: 435px;
}

.slider_btn:hover .translate_x {
    transform: translateX(5px);
}

.opacity_07 {
    opacity: .7;
}

.leading_120 {
    line-height: 120%;
}

.leading-150 {
    line-height: 150%;
}

.lineheight_normal {
    line-height: normal;
}

::placeholder {
    font-family: "Inter";
    font-size: var(--fs-sm);
    font-weight: 400;
    color: rgba(0, 0, 0, 0.60);
}

.hero_shadow {
    border-radius: 35px;
    background: linear-gradient(91deg, #994FFF 0.27%, #4AB6FE 98.57%);
    filter: blur(20px);
    height: 20px;
    width: 90%;
    bottom: -50%;
}

.w-85 {
    width: 83.5%;
}

input {
    padding-right: 16px;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
    display: flex !important;
}

.slick-slide>div {
    display: flex;
}

.blue_line {
    width: 155px;
    height: 4px;
    background-color: var(--text-blue);
}

.feature_box {
    padding: 33px 10px 30px;
    border-radius: 12px;
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.feature_box:hover {
    border: 1px solid rgba(249, 247, 247, 0.1);
    box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.10);
}

.slider_box {
    padding: 39px 22px 39px 25px;
    border-radius: 12px;
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.slider_box:hover {
    border: 1px solid rgba(249, 247, 247, 0.1);
    box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.10);
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.slider_arrow {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    opacity: .7;
    top: 50%;
    background: white;
    padding-right: 2px;
    transform: translateY(-50%);
    border: 1px solid var(--black, #000);
}

.rightarrow_postion {
    right: -5%;
}

.leftarrow_position {
    left: -5%;
}

.w_71 {
    width: 71%;
}

.slider_arrow:hover {
    border: transparent;
    background: linear-gradient(223deg, #FBC524 -75.58%, #E939D9 2.42%, #2ABAE9 74.42%);
}

.slider_arrow:hover .slider_arrow_white {
    stroke: white;
}

.plan_box {
    border-radius: 10px;
    border: 0.677px solid rgba(0, 0, 0, 0.10);
    background: var(--text-white);
    padding: 29px 42px;
    height: 100%;
}

.color_lightgray {
    color: rgba(0, 0, 0, 0.70)
}

.planpoint_max_width {
    max-width: 230px;
}



.plan_btn {
    border-radius: 123px;
    line-height: 27.071px;
    padding: 10px;
    border: 1px solid transparent;
    background: var(--Linear-two, linear-gradient(91deg, #994FFF 0.27%, #4AB6FE 98.57%));
}

.plan_box:hover .plan_btn {
    background: #fafafa;
    color: var(--text-darkblack);
}

.plan_box:hover {
    background: linear-gradient(225deg, #E939D9 2.18%, #2ABAE9 111.89%), linear-gradient(91deg, #994FFF 0.27%, #4AB6FE 98.57%);
    background-size: 105% 105%;
    background-position: -2px -2px;
}

.plan_box:hover .svg_white {
    fill: white !important;
}

.plan_box:hover .plan_text {
    color: rgba(255, 255, 255, 0.70);
}

.plan_box:hover .planheading {
    color: #fafafa;
    background: unset;
    -webkit-text-fill-color: unset;
}

.plan_box:hover .planpara {
    color: var(--text-white);
}

.plan_box:hover .planopacity {
    opacity: 1 !important;
}

.update_line {
    width: 700px;
    position: relative;
}

.update_line::after {
    content: "";
    width: 0;
    position: absolute;
    height: 5.6px;
    bottom: 0px;
    border-radius: 26px;
    background: var(--text-blue);
    transition: 300ms linear;
}

.update_line::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 5.6px;
    bottom: 0px;
    border-radius: 26px;
    background: rgba(0, 0, 0, 0.06)
}

.active:after {
    width: 47.5%;
}

.active1:after {
    width: 76%;
}

.active2:after {
    width: 100%;
}

.example::-webkit-scrollbar {
    display: none !important;
}

.WaitList_box {
    max-width: 761px;
    border-radius: 16px;
    padding: 29px 20px 47px;
    background: linear-gradient(105deg, #2ABAE9 0%, #1B77CC 100%);
}

.zigzag1 {
    max-width: 430px;
}

.translate {

    transform: translateY(60px) !important;
}

.positionimg1 {
    max-width: 550px;
}

.positionimg2 {
    max-width: 40px;
    top: 10%;
}

.positionimg3 {
    max-width: 550px;
}

.positionimg4 {
    max-width: 40px;
    top: 25%;
}

.positionimg5 {
    max-width: 40px;
}

.positionimg6 {
    top: 25%;
}

.positionimg7 {
    top: 12%;
    max-width: 192px;
}

.positionimg8 {
    bottom: 31%;
    left: 21%;
    z-index: -1;
}

.positionimg9 {
    bottom: 9%;
    right: 28%;
    max-width: 31px
}

.positionimg10 {
    top: 35%;
    right: 0;
    max-width: 25px;
}

.positionimg11 {
    top: 12%;
    right: 0;

}

.positionimg12 {
    bottom: 5%;
    right: 3%;
}

.positionimg13 {
    left: -40px;
    top: -20px;
    max-width: 145px;
}

.positionimg14 {
    top: 6%;
}

.logo_max_width {
    max-width: 151px;
}

.max_width {
    max-width: 973px;
}

@media(min-width:1200px) and (max-width:1250px) {
    .rightarrow_postion {
        right: -3%;
    }

    .leftarrow_position {
        left: -3%;
    }
}

@media (max-width: 1060px) {

    .rightarrow_postion {
        right: 2%;

    }

    .leftarrow_position {
        left: 80%;
    }

    .slider_arrow {
        margin-right: 10px;
        margin-left: 10px;
    }

    .positionimg1 {
        max-width: 150px;
        top: 20% !important;
    }

    .positionimg2 {
        max-width: 20px;
        top: 10% !important;

    }

    .positionimg3 {
        max-width: 150px;
    }

    .positionimg4 {

        max-width: 20px;
    }

    .positionimg5 {
        max-width: 20px;
    }

    .positionimg6 {
        max-width: 40px;
    }

    .positionimg7 {
        max-width: 40px;
    }

    .positionimg8 {
        max-width: 40px;
    }

    .positionimg9 {
        display: none;
        max-width: 31px
    }

    .positionimg10 {
        top: 15%;
        max-width: 20px;
    }

    .positionimg11 {
        max-width: 40px;
    }

    .positionimg12 {
        max-width: 50px;
    }

    .positionimg13 {
        max-width: 70px;
    }

    .positionimg14 {
        max-width: 60px;
    }

    .abs_Solution_zigzag {
        max-width: 300px;
    }
}

@media (max-width: 992px) {

    .mobile_ul {
        position: fixed;
        backdrop-filter: blur(22px);
        background: linear-gradient(180deg, rgba(44, 185, 233, 0.30) 0%, rgba(98, 104, 250, 0.30) 23.05%, rgba(255, 255, 255, 0.30) 71.54%, rgba(255, 255, 255, 0.30) 103.55%);
        height: 100vh;
        width: 100%;
        left: 0;
        bottom: 0;
        align-items: center;
        gap: 20px;
        z-index: 12;
        transition: all .3s linear;
        justify-content: center;
    }

    .update_pera {
        margin-left: auto;
        margin-right: auto;
    }

    .rightarrow_postion {
        right: 2%;

    }

    .leftarrow_position {
        left: 80%;
    }

    .hide {
        bottom: 100%;
    }

    .slider_arrow {
        top: 95%;
    }

    .logo_max_width {
        max-width: 140px;
    }


}

@media (max-width: 576px) {
    .feature_box {
        padding: 33px 10px 30px;
        border-radius: 12px;
        background: #FFF;
        max-width: 315px;
        margin: auto;
        border: 1px solid rgba(0, 0, 0, 0.10);
    }

    .rightarrow_postion {
        right: 5%;

    }

    .update_line {
        width: 580px;
        position: relative;
    }

    .leftarrow_position {
        left: 73%;
    }

}

@media (max-width: 470px) {
    .w_75 {
        width: 75% !important;
    }

    .w_25 {
        width: 25%;
    }

    .rightarrow_postion {
        right: 5%;

    }

    .leftarrow_position {
        left: 70%;
    }

    .feature_pera {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 375px) {

    .rightarrow_postion {
        right: 5%;

    }

    .leftarrow_position {
        left: 65%;
    }
}

@media (min-width: 1200px) {
    .feature_box {
        padding: 43px 20px 30px;
        border-radius: 12px;
        background: #FFF;
        border: 1px solid rgba(0, 0, 0, 0.10);
    }

    .ms_1 {
        margin-left: 1px;
    }

    .feature_box {
        max-width: 267px;
    }
}

@media (min-width: 1400px) {
    .custom_container {
        max-width: 1164px !important;
    }
}