* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none;
}

.cursor_pointer {
    cursor: pointer;
}

.hover_line {
    position: relative;
}

.hover_line::after {
    position: absolute;
    content: "";
    border-radius: 10px;
    background: linear-gradient(105deg, #2ABAE9 0%, #1B77CC 100%);
    width: 0%;
    height: 3px;
    bottom: -7px;
    right: 0;
    transition: all 0.3s linear;
}

.transition_3_linear {
    transition: all 0.3s linear;
}

.hover_line:hover::after {
    left: 0;
    width: 100%;
}

.hamburger {
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 15;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: black;
    z-index: 15;
    opacity: 0.7;
}

.hamburger-2 {
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 15;
}

.hamburger-2 .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-2 .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-2 .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.py_12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.nav_btn_color:hover {
    background: linear-gradient(105deg, #2ABAE9 0%, #1B77CC 100%);
    color: white;
}

.hero_btn {
    border-radius: 35px;
    padding: 7px 23px 10px;
    background: linear-gradient(105deg, #2ABAE9 0%, #1B77CC 100%);
}

.hero_btn:hover .translate_x {
    transform: translateX(5px);
}

.hero_linear {
    background: linear-gradient(180deg, rgba(44, 185, 233, 0.30) 0%, rgba(98, 104, 250, 0.30) 23.05%, rgba(255, 255, 255, 0.30) 71.54%, rgba(255, 255, 255, 0.30) 103.55%);
}

.text-linear {
    background: var(--Linear-two, linear-gradient(91deg, #994FFF 0.27%, #4AB6FE 98.57%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input {
    outline: none !important;
    font-family: "Inter";
    font-size: var(--fs-sm);
    font-weight: 400;
    color: rgba(0, 0, 0, 0.60);
}

.hero_input {
    max-width: 464px;
    border-radius: 100px;
    border: 1px solid var(--Linear-two, #994FFF);
    background: #FFF;
}



.opacity_07 {
    opacity: .7;
}

.leading_120 {
    line-height: 120%;
}

::placeholder {
    font-family: "Inter";
    font-size: var(--fs-sm);
    font-weight: 400;
    color: rgba(0, 0, 0, 0.60);
}

.hero_shadow {
    border-radius: 35px;
    background: linear-gradient(91deg, #994FFF 0.27%, #4AB6FE 98.57%);
    filter: blur(20px);
    height: 20px;
    width: 90%;
    bottom: -50%;
}

.w-85 {
    width: 85%;
}

.blue_line {
    width: 155px;
    height: 4px;
    background-color: var(--text-blue);
}

.feature_box {
    padding: 43px 20px 30px;
    border-radius: 12px;
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.feature_box:hover {
    border: 1px solid rgba(249, 247, 247, 0.1);
    box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.10);
}

@media (max-width: 470px) {
    .w_75 {
        width: 75% !important;
    }

    .w_25 {
        width: 25%;
    }
}

@media (max-width: 992px) {
    .mobile_ul {
        position: fixed;
        background: linear-gradient(105deg, #2ab9e9e9 0%, #1b76cce2 100%);
        height: 100vh;
        width: 100%;
        left: 0;
        bottom: 0;
        align-items: center;
        gap: 20px;
        z-index: 12;
        transition: all .3s linear;
        justify-content: center;
    }

    .hide {
        bottom: 100%;
    }

}

@media (min-width: 1400px) {
    .custom_container {
        max-width: 1140px !important;
    }


}